.about-title {
    
    text-align: center;
    position: relative;
  }
  
  .about-title:before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 3px;
    background-color: yellow;
  }
  
  /* ovde e za herbal-products */
  .herbal-info {
    text-align: center;
    margin: 35px;
    margin-bottom: 40px;
  }
  
  .herbal-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .herbal-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  /* ovde pocvat benecits i sekoe pole e taka definirano*/
  .herbal-benefits {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .herbal-benefits h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .herbal-benefits ul {
    list-style-type: disc;
    color: #666;
    margin-left: 20px;
    text-align: center;
  }
  
  .herbal-benefits li {
    font-size: 16px;
    line-height: 1.5;
  }
  .list-benefits-style-none{
    list-style: none;
    margin: 5px;
  }



  /* delot so fa -fa features */
  .features {
    padding: 100px 0;
    background: #f7f7f7;
  }
  
  .feature-item {
    text-align: center;
  }
  
  .feature-item i {
    font-size: 3rem;
    color: #1abc9c;
  }
  
  .feature-item h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
  }
    /* i ovde e footer pak */
  
  .herbal-footer {
    background: linear-gradient(135deg, #5cbf9d, #88d498);
    padding: 40px 0;
  }
  

  
  .footer-logo img {
    max-width: 150px;
    position: relative;
    left: 90px;
  }
  
  .footer-description {
    color:white;
    font-size: 14px;
    margin: 10px;
  }
  
  .footer-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f9a825;
  }
  
  .footer-social-icon {
   
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #555;
  }
  
  .footer-social-icon:hover {
    color: #f9a825;
  }
  .list-style-none{
     list-style: none;
  } .feature-item p {
    margin-top: 20px;
    font-size: 1rem;
  }




 
  