.navbar {
    background-color: transparent;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa;
  }
  
  body {
    background-color: #f8f9fa; 
  }
  
  .background-section {
    background-image: url("./images/pexels-pixabay-461428.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px; 
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .logo{
    width: 70px;
    height: auto;
  }
  /* ova e za batonov so e vnatre vo pocetnava slika */
  .buttonSizeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .buttonSizeText h2 {
    font-size: 23px; 
    line-height: 1.5;

    font-weight:normal; 
    text-transform: uppercase; 
  }
  
  .buttonSizeText p {
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ede0e0;  
  }
  
  
  
  





  /* za font size so e vo nav barot za about i ostanative */
  .fontSize {
    color: #ffffff;
    font-size: 19px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  


  /* ovde pocvit sekcijava so fa -fa */
  .features {
    padding: 100px 0;
    background: #f7f7f7;
  }
  
  .feature-item {
    text-align: center;
  }
  
  .feature-item i {
    font-size: 3rem;
    color: #1abc9c;
  }
  
  .feature-item h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .feature-item p {
    margin-top: 20px;
    font-size: 1rem;
  }


  /* ova e isto sekcija Our Services */
  .our-services {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .underline {
    width: 80px;
    height: 4px;
    background-color: #f8d700;
    margin: 0 auto;
  }
  
  .service-item {
    text-align: center;
  }
  
  .service-item img {
    width: 700px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    color: #000;
    background-color: #000;
    opacity: 0.8;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  
  .carousel-indicators {
    bottom: -40px;
  }
  
  .carousel-indicators li {
    background-color: #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 8px;
  }
  
  .carousel-indicators .active {
    width: 16px;
    height: 16px;
  }



  /* testemonials */

  /* ova e '' kako quote so e */
  .testimonial-title1 {
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    margin-bottom: 10px;
  }
  
  .testimonial-title1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #f9a825;
  }
   /* ova e samo za testemonials karticive so se */
  .testimonials {
    background-color: #f8f8f8;
    padding: 50px 0;
  }
  
  .testimonial-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .testimonial-item {
    width: 300px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .testimonial-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .testimonial-item p {
    font-size: 14px;
    color: #777;
  }
  
  /* testemonials sliki */
  .testimonial-item img {
    width: 100px; 
    height: 100px;
  }



  /* ova e Question Sekcija */
  .questions-section {
    background-image: url('./images/pexels-karolina-grabowska-4199064.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
  }
  
  .questions-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .questions-title {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  .questions-text {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  
  .questions-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #000;
    color: #f9a825;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #f9a825;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  
  .questions-button:hover {
    background-color: #f9a825;
    color: #000;
  }
  
  /* futer */
  .herbal-footer {
    background: linear-gradient(135deg, #5cbf9d, #88d498);
    padding: 40px 0;
  }
  
  
  .footer-logo img {
    max-width: 150px;
    position: relative;
    left: 90px;
  }
  
  .footer-description {
    color:white;
    font-size: 14px;
    margin: 10px;
  }
  
  .footer-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f9a825;
  }
  
  .footer-social-icon {
   
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #555;
  }
  
  .footer-social-icon:hover {
    color: #f9a825;
  }
  .list-style-none{
     list-style: none;
  }

  /* payment methods */
  .payment-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 15px;
  }
  
  .payment-card:hover {
    transform: translateY(-5px);
  }
  
  .payment-card i {
    font-size: 36px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .payment-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .payment-description {
    font-size: 14px;
    color: #777;
  }
  




/* ova e forma za Register */
section.vh-60 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 height: 10vh;
 width: 200vh;
 z-index: 9999;
}
/* OVoj del e za batonov koj e dodaden plus racno vo sekcijava vo JS so e register forma */
.form-container {
  position: relative;
}

#closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* delot kaj so e najaven */
#loggedInUser {
  position: relative;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#loggedInUser::before {
  content: "Welcome : ";
  margin-right: 8px;
}

#loggedInUser:hover {
  background-color: #757272;
}

#logoutBtn {
  display: none;
  margin-left: 8px;
}

#loggedInUser:hover #logoutBtn {
  display: block;
}

#logoutBtn:hover {
  background-color: #a5e063;
  color: #ffffff;
}


/* za mestovo kaj so e korisnikov so negovo ime  */
.btn1 {
  width: 200px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  text-decoration: none;
  text-align: center;
 }
 
 .btn1:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .btn1:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }

/* za eden baton ovde koristime 2 css eden po #id drug po btn1 ili klasa */



/* slika za for mmore food ako ne e najaven korisnikot */
.hidden {
  display: none;
}
